.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgba(0,0,0,0.6);
  padding: 30px;
  border-radius: 12px;
  color: white;
  width: 300px;
  text-align: center;
}

.card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.card button {
  width: 100%;
  padding: 10px;
  background: #ffb03b;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}